body{
    font-size: 16px;
    font-family: 'Comic Sans MS', sans-serif;
}
/* HEADER */

.navbar-header{
    background-color: rgb(49, 47, 47);
    width: 100%;
    font-size: 2em;
    font-weight: 600;
    margin: 0;
}

.nabar-brand{
    color: white;
}
.navbar-nav{
    font-size: 25px;
    text-align: center;
    margin: 0;
    padding: 0;
  }

.navbar-toggle{
	border: 2px solid white;
	margin-right: 25px;
}

.navbar-default{
    padding: 0 0 0 0;
}
.container-fluid{
    margin: 0;
	padding: 0;    
}

.container-fluid a{
    color: white;
}


/* Heading */
.text-center h1{
    font-weight: 600;
    margin-top: 20px;
}

.main-content{
    background-color: rgb(163, 161, 161);
    height: 1000px;
    margin-top: 50px;
}

.row{
	margin: 20px;
}

.container h3{
    text-align: center;
    font-weight: 600;
    padding-top: 10px;
}

.icon-bar{
	background-color: white;
}

li{
	box-sizing: border-box;
	width: 100%;
}

.menu-item{
	padding: 0;
	margin: 0;
	width: 100%;
	background-color: white;
	border-bottom: 2px solid black;
	color: black;
	display: block;
}

.menu-item:hover{
	background-color: rgba(0,0,0,0.9);
	color: rgba(0,0,0,0.4);
}

.content-box{
	margin: 0px;
	width: auto;
	height: auto;
	color: black;
	background-color: rgba(0,0,0,0.2);
	font-family: "Comic Sans MS", cursive, sans-serif;
	padding: 20px;
}

.item-name{
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}